.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  row-gap: 15px;
}

.optionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.infoContainer span {
  font-size: 13px;
}

.numericText {
  color: var(--font-black-color);
  letter-spacing: -0.5px;
  font-weight: 600;
  font-size: 14px;
}

.optionContainer label {
  font-size: 13px;
  font-weight: 500;
  color: var(--font-darkgray-color);
  white-space: nowrap;
}

.optionButtonContainer {
  height: 25px;
  display: flex;
  gap: 8px;
}

.optionButtonContainer button {
  flex: 1;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--font-darkgray-color);
  height: 100%;
  border-radius: 6px;
  border: 1px solid var(--border-main-color);
  transition: background-color 0.2s;
}

.optionButtonContainer button:hover {
  background-color: var(--main-gray-hover-color);
}

.divider {
  margin: 5px 0px;
  height: 1px;
  background-color: var(--border-main2-color);
}

.submitButtonContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  column-gap: 8px;
  height: 33px;
}

.submitButtonContainer button {
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  transition: filter 0.2s;
}

.resetButton {
  background-color: var(--bg-gray-color);
  color: var(--font-black-color);
}

.submitButton {
  color: white;
}

.red {
  background-color: var(--main-red-color);
}

.blue {
  background-color: var(--main-blue-color);
}

.infoContainer input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin: 0px 2px 0px 10px;
}

.infoContainer input[type='radio']:checked {
  border: 2px solid white;
}

.redradio {
  background-color: var(--main-red-color);
  box-shadow: 0 0 0 1.5px var(--main-red-color);
}
.blueradio {
  background-color: var(--main-blue-color);
  box-shadow: 0 0 0 1.5px var(--main-blue-color);
}
