.container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 99;
}

.searchContainer {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  border-radius: 16px;
  height: 34px;
  background-color: var(--bg-gray-color);
  cursor: pointer;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border: none;
}

.textContainer {
  margin-bottom: 0px;
  padding-left: 7px;
  padding-right: 2px;
}

.loadingContainer {
  width: 80px;
}

.textContainer p {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
  color: gray;
}

.korea {
  font-weight: 700;
  margin-right: 3px;
}

.code {
  font-size: 12px;
  font-weight: 400;
  color: var(--font-darkgray-color);
}

.slash {
  font-size: 12px;
  margin-right: 2px;
  color: var(--font-darkgray-color);
}

.open {
  background-color: white;
}
