.container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.infoContainer {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  align-items: flex-end;
}

.skeleton {
  width: 100%;
  min-width: 70px;
  height: 18px;
  margin-top: 1px;
  border-radius: 4px;

  animation: loading 1.5s infinite;
}

.header {
  font-weight: 400;
  font-size: 11px;
  color: var(--font-gray-color);
}

.text {
  height: 19px;
  font-weight: 500;
  font-size: 15px;
  color: var(--font-black-color);
}

.num {
  letter-spacing: -0.8px;
}

.red {
  color: var(--main-red-color);
}

.blue {
  color: var(--main-blue-color);
}

.equal {
  color: var(--font-gray-color);
}

.small {
  margin-left: 4px;
  font-size: 12px;
  margin-bottom: 2px;
}

.leftMargin {
  margin-left: -1px;
}

@keyframes loading {
  0% {
    background-color: rgba(243, 244, 246, 1);
  }
  50% {
    background-color: rgba(243, 244, 246, 0.5);
  }
  100% {
    background-color: rgba(243, 244, 246, 1);
  }
}
