.container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 99;
}

.searchContainer {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  border-radius: 16px;
  height: 34px;
  background-color: #f2f4f6;
  cursor: pointer;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 7px;
  border-radius: 50%;
  overflow: hidden;
}

.textContainer {
  margin-bottom: 2px;
  padding-right: 5px;
}

.textContainer p {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
  color: gray;
}
