.container {
  flex: 1;
  position: relative;
  overflow: scroll;
}

/* 인디케이터 */
.indicatorContainer {
  position: sticky;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: white;
  z-index: 10;
}

/* list */
.listContainer {
  display: grid;
  grid-template-columns: 3fr 3.5fr 3fr;
  grid-template-areas:
    'sell sell info'
    'center center center'
    'trade buy buy';
  grid-auto-rows: auto;
  overflow-anchor: none;
}

.sellContainer {
  display: grid;
  grid-template-columns: 3fr 3.5fr;
  grid-area: sell;
  align-items: flex-end;
}

.infoContainer {
  grid-area: info;
  user-select: none;
}

.tradeContainer {
  grid-area: trade;
}

.centerContainer {
  grid-area: center;
  align-items: center;
  height: 1px;
  background-color: var(--border-main2-color);
}

.buyContainer {
  display: grid;
  grid-template-columns: 3.5fr 3fr;
  grid-area: buy;
  align-items: flex-start;
}

.left {
  flex: 1;
  justify-content: flex-start;
  text-align: left;
}

.center {
  flex: 1.5;
  justify-content: flex-end;
  text-align: right;
}

.right {
  justify-content: flex-end;
  text-align: right;
}
