.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-right: 1px solid var(--border-main2-color);
  border-left: 1px solid var(--border-main2-color);
  padding: 0px 0px;
  cursor: pointer;
  user-select: none;
}

.currentPriceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

.currentPriceContainer:hover {
  background-color: var(--main-gray-hover-color);
  border-radius: 7px;
}

.currentPrice {
  box-sizing: content-box;
  border: 1.5px solid var(--font-gray-color);
  border-radius: 7px;
}

.sellContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  height: 40px;

  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 5px;
}

.buyContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: 40px;

  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
}

.priceText {
  height: 100%;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-top: 2px;
}

.percentText {
  height: 100%;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: var(--font-gray-color);
}

.sizeText {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.2px;
  user-select: none;
}

.left {
  text-align: left;
  padding-left: 5px;
}

.right {
  text-align: right;
  padding-right: 5px;
}

.red {
  color: var(--main-red-color);
}

.blue {
  color: var(--main-blue-color);
}

.equal {
  color: var(--font-darkgray-color);
}

.bar {
  position: absolute;
  width: 100%;
  height: 24px;
  border-radius: 0;
  will-change: transform;
  transition: transform 0.2s linear;
}

.bluebar {
  right: 0;
  background-color: var(--bg-blue-color);
  transform-origin: right center;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.redbar {
  left: 0;
  background-color: var(--bg-red-color);
  transform-origin: left center;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
