.container {
  flex: 1;
  position: relative;
  overflow: scroll;
}

/* 리스트 헤더 */
.listHeaderContainer {
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  height: 30px;
  width: 100%;
  padding: 0px 12px;
  gap: 5px;
  background-color: white;
  z-index: 10;
}

.listHeaderBox {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.listHeaderText {
  font-size: 12px;
  font-weight: 400;
  color: var(--font-gray-color);
  margin-top: 3px;
}

.listContainer {
  display: grid;
  grid-template-columns: 3fr 3.5fr 3fr;
  grid-template-areas:
    'sell sell info'
    'center center center'
    'info2 buy buy';
  grid-auto-rows: auto;
  overflow-anchor: none;
}

.sellContainer {
  display: grid;
  grid-template-columns: 3fr 3.5fr;
  grid-area: sell;
  align-items: flex-end;
}

.infoContainer {
  grid-area: info;
}

.centerContainer {
  grid-area: center;
  align-items: center;
  height: 1px;
  background-color: var(--border-main2-color);
}

.buyContainer {
  display: grid;
  grid-template-columns: 3.5fr 3fr;
  grid-area: buy;
  align-items: flex-start;
}

.left {
  flex: 1;
  justify-content: flex-start;
  text-align: left;
}

.center {
  flex: 1.5;
  justify-content: flex-end;
  text-align: right;
}

.right {
  justify-content: flex-end;
  text-align: right;
}
